.navbar > .nav-item {
    margin-left: 15px ;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}
:root {
    --red: #cd4541;
}
.red {
    color: var(--red);
}
.btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
}
.card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
}
#third {
    background-image: url(image/banner.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#fourth > .container > p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
}
.row {
    display: flex;
    justify-content: center;
}
.logo-space {
    padding-top: 15%;
}
.background {
    background-color: rgb(233, 235, 238);
}
#fourth {
    background-color: rgb(233, 235, 238);
    padding-top: 8%;
}
.container {
    padding-top: 50px;
}
footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section > .typewrite {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.item-spacing {
    padding-right: 20px;
}